.count {
    width: 180px;
    height: auto;
    margin-top: 1rem;
    text-align: center;
    margin: auto;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

.container-card {
    margin-top: 1rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
}